<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Education</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/education">Education</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Academic Background</h2>
        <ul>
            <li><strong>Bachelor of Technology in Informatin Technology</strong><br>
               Tirumala Engineering College, 2020–2024</li>
            <li><strong>Intermediate (Class XII)</strong><br>
                Sri Chaitanya Junior College, 2018–2020</li>
            <li><strong>High School (Class X)</strong><br>
                Oxford English Medium High School, 2017–2018</li>
        </ul>

        <h2>Certifications</h2>
        <ul>
            <li>Java Programming – Oracle Certified</li>
            <li>Web Development Bootcamp – Udemy</li>
            <li>Python – Coursera</li>
        </ul>
    </main>
</body>
</html>
